
.content {
    margin-top: 100px;
    margin-bottom: 65px;
}

.weui-cells {
    border-radius: 4px;
    margin: 11px 9px;
}

.weui-cell:before {
    left: 0;
}

.my-img {
    width: 100%;
}

.my-cell_bd {
    margin-left: 10px;
    overflow: hidden;
}
